body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #3dabff;
}

div {
  color: white;
  margin: 0 auto;
  width:. 200px;
  padding: 0px;
  text-align: center;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}

#yes {
    background-color: #3dabff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:2px;
    color: #fff;
    font-size: 60px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    padding: 10px;
    transition-duration: 0.4s;
}


#no {
    background-color: #3dabff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:2px;
    color: #fff;
    font-size: 60px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    padding: 10px;
    transition-duration: 0.4s;
}
