body{
    background: linear-gradient(to bottom right, #3dabff, lightgrey)  no-repeat center center fixed;
}

.center_div{
    margin: 0 auto;
    width:40%
}

.speech {
    float: right;
    width: 40px
}

.left {
    float: left;
}

#layer1 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom right, #3dabff, lightgrey)  no-repeat center center fixed;
    padding-top: 50px;
}

#layer2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom right, #3dabff, lightgrey)  no-repeat center center fixed;
    opacity: 0;
    padding-top: 50px;
}


.visible {
    z-index: 10;
    transition: opacity 0.5s;
    opacity: 1 !important;
}

.numpad{
    background-color: transparent;
    z-index: 10;
}

#numpad {
    justify-content: center;
    font: 71%/1.5 Verdana, Sans-Serif;
    background-color: transparent;
    position: fixed;
    right:0;
    bottom:0;
    margin:40px 20px;
}

#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

#keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 60px;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
}

.capslock,
.tab,
.left-shift,
.clearl,
.switch {
    clear: left;
}

#keyboard .tab,
#keyboard .delete {
    width: 60px;
}

#keyboard .capslock {
    width: 80px;
}

#keyboard .return {
    width: 90px;
}

#keyboard .left-shift{
    width: 70px;
}

#keyboard .switch {
    width: 90px;
}

#keyboard .rightright-shift {
    width: 109px;
}

.lastitem {
    margin-right: auto;
}

.uppercase {
    text-transform: uppercase;
}

#keyboard .space {
    float: left;
    width: 556px;
}

#keyboard .switch,
#keyboard .space,
#keyboard .return{
    font-size: 16px;
}

.on {
    display: none;
}

#keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}

/* Cookie popup */

.cookies {
    position: fixed;
    z-index: 99;
    bottom: -100%;
    width: 100%;
    -webkit-transition: all 1.5s ease-in-out .3s;
    -o-transition: all 1.5s ease-in-out .3s;
    transition: all 1.5s ease-in-out .3s;
}

.cookies.show {
    bottom: 0;
}

.cookies_layout {
    position: relative;
    width: 100%;
    max-width: 1200px;
    background-color: #3383fc;
    min-height: 40px;
    margin: 0 auto;
    padding: 10px 35px;
    text-align: center;
}

.cookies_text {
    font-family: "Sofia Pro",sans-serif;
    font-size: 11px;
    color: #FFF;
    display: inline-block;
}

.cookies_button {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.cookies_span {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 20px;
    height: 1px;
    background-color: #FFF;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.cookies_span:last-child {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.flag-icon {
    line-height: 10em;
    width: 18em;
}
